.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px 96px;
}

.header_menu {
  justify-self: start;
}

.header_links-list {
  display: flex;
  gap: 33px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
}

.header_links-list-item:first-child {
  list-style: none;
}

.header_link_main {
  text-decoration: none;
}

.header_link {
  text-underline-offset: 4px;
  color: #000;
}

.header_logo {
  display: block;
  width: 148px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header_address {
  justify-self:end;
  margin-right: 30px;
  
}

.address_link {
  display: block;
  text-underline-offset: 4px;
  color: #000;
}

.address_text {
  display: block;
  width: 236.49px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover_title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 20px;
  margin-right: -30px;
  padding-left: 30px;
}

.cover_description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover_description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid currentColor;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  font-family:inherit; 
}

.lots {
  padding: 180px 24px 0;
}

.lots_heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card_text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 24px;
}

.lots_look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  line-height: 23px;
  text-underline-offset: 5px;
  text-transform: lowercase;
  color: #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 120px 24px 0;
}

.about_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%;
  background-color: #000;
}

.about_logo-image {
  width: 148px;
}

.about_title {
  margin: 136px 0 100px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 688px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 82px;
}

.address_text-footer {
  display: block;
  width: 260px;
  
}

.footer_menu {
  justify-self: center;
}


.footer_menu-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  list-style: none;
}

.footer_menu-link {
  display: inline-block;
  min-width: max-content;
  text-underline-offset: 4px;
  color: #000;
}

.footer_menu-link_active {
  text-decoration: none;
  color: #000;
}

.footer_social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer_social-link {
  display: block;
  width: 48px;
  height: 48px;
}